.box{
	width: 100%;
	background-color: #f2f2f2;
}
.clr{
	clear: both;
}
.tieude{
	width: 100%;
	height: 50px;
	background-color: black;
}
.noidung{
	width: 1000px;
	margin: auto;
	background-color: white;
}
.dongdau{
	width: 960px;
	height: 35px;
	background-color: grey;
	margin-right: 20px;
	margin-left: 20px;
}
.logo{
	text-align: center;
}
.bar{
	width: 1000px;
	background-color: green;
	height: 35px;
}
.phannoidung{
	margin: 20px;
}
.anhto{
	width: 960px;
	height: 528px;
}
.anhto1{
	margin-right: 20px;
	float: left;
}
.anhto1 img{
	width: 690px;
	height: 524px;
}
.anhto2{
	
	float: left;
}
.anhto2 img{
	width: 250px;
	height: 250px;

}
#anh1{
	margin-bottom: 20px;
}
.thuonghieu{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 80px;
	background-color: pink;
}
.baanhto{
	width: 100%;
	height: 290px;
	margin-bottom: 40px;
}
.anhso1{
	width: 306px;
	height: 290px;
	float: left;
	margin-right: 20px;
}
.anhso2{
	width: 306px;
	height: 290px;
	float: left;
	margin-right: 20px;
}
.anhso3{
	width: 308px;
	height: 290px;
	float: left;
}
.baanhto img{
	width: 306px;
	height: 290px;
}
.quanao{
	width: 100%;
	margin-bottom: 20px;
}
.tieudequao{
	width: 100%;
	height: 40px;
	background-color: green;
}
.ndquao{
	width: 232px;
	height: 350px;
	margin-right: 10px;
	background-color: red;
	margin-top: 20px;
	float: left;
}
.ndquao2{
	width: 233px;
	height: 350px;
	background-color: red;
	float: left;
	margin-top: 20px;
}
.posterto{
	width: 100%;
	height: 300px;
	background-color: yellow;
}
.quanaocuoi{
	width: 100%;
	margin-bottom: 20px;
	margin-top: 30px;
}
.tieudequaocuoi{
	width: 100%;
	height: 40px;
	background-color: green;
}
.ndquaocuoi{
	width: 184px;
	height: 300px;
	margin-right: 10px;
	background-color: red;
	margin-top: 20px;
	float: left;
}
.ndquaocuoi2{
	width: 184px;
	height: 300px;
	background-color: red;
	margin-top: 20px;
	float: left;
}
.in4{
	width: 1000px;
	height: 300px;
	background-color: cyan;
	margin: auto;
}
.cuoicung{
	width: 100%;
	height: 300px;
	background-color: white;
}



































































.container{
	/*padding: 0px;*/
	margin: auto;
	width: 100%;
	box-sizing: border-box;
	background-color: #f2f2f2;
}
.header-title{
	background-color: #000000;
	margin: auto;
	width: 800px;
	text-align: center;
	padding-left: 335px;
	padding-right: 335px;
}
.header-title img{
	float: left;
	width: 28px;
	height: 28px;
	padding: 0px;
	margin-left: 0px;
}
.content{
	float: left;
	color: #f8f8f8;
	text-align: left;
	margin-left: 3px;
}
.clr{
	clear: both;
}
.content p{
	font-size: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.content span{
	font-size: 8px;
	color: #898989;
}
.header-content{
	float: left;
	width: 150px;
	border-right: 1px solid #898989;
	margin-left: 50px;
	padding-right: 50px;
	text-align: center;
	margin-top: 10px;
    margin-bottom: 10px;
	/*background-color: red;*/
}
.header-contentend{
	float: left;
	width: 150px;
	/*border-right: 1px solid white;*/
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 10px;
    margin-bottom: 10px;
	/*background-color: red;*/
}
.header-bar{
	width: 920px;
	margin-left: 40px;
	margin-right: 40px;
}
.header-left img{
	/*margin-top: 9px;*/
	width: 19px;
	height: 21px;
	/*float: left;*/
}
.header-left select{
	margin: 0px;
	border: 1px solid white;
	font-size: 19px;
	color: #898989;

}
.header-left{
	/*margin-bottom: 2px;*/
	margin-top: 5px;
	width: 460px;
	float: left;
	text-align: right;
}
.header-left div{
	float: left;
	/*width: 100px*/;
}
.body{
	width: 1000px;
	margin: auto;
	background-color: #ffffff;
	box-shadow:
	0 2px 7px 1px #C7EDE4;
	-webkit-box-shadow: 
	0 2px 7px 1px #C7EDE4;
}
.header-right{
	/*margin-bottom: 2px;*/
	margin-top: 5px;
	width: 460px;
	text-align: right;
	float: left;
	color: #898989;
	font-size: 19px;
}
.header-right img{
	/*margin-top: 9px;*/
	width: 19px;
	height: 21px;
	/*float: left;*/
}
.header-right div{
	float: left;
	/*width: 100px*/;
}